/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4 {
  text-transform: uppercase; }

/* estilos del home */
.main-principal .img-alphalub {
  width: 100%;
  height: 100%; }

.footer {
  color: black;
  padding: 2rem 2rem 2rem; }
  .footer h2 {
    text-align: center; }
  .footer .footer-links {
    text-align: center; }
    .footer .footer-links .redes {
      font-size: 3rem;
      text-decoration: none;
      color: black;
      font-size: 1.2rem; }
    .footer .footer-links .redes-font {
      font-size: 3rem; }

/* mq de home para desktop */
/* estilos de productos */
.main-principal2 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal2 div .img-productos {
    width: 90%;
    margin-top: 1rem;
    border: 0.3rem solid black; }

/* mq de productos para desktop */
@media screen and (min-width: 1024px) {
  .main-principal2 div .img-productos {
    width: 70%;
    margin-top: 1rem;
    border: 0.5rem solid black; } }

.main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4 {
  text-transform: uppercase; }

/* estilos de sobre nosotros */
.main-principal3 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal3 section .img-sn {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-principal3 section .img-sn .img-sn1 {
      width: 30vh;
      height: 35vh;
      border: 2px solid black; }
  .main-principal3 section .texto-nosotros {
    margin-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    font-size: 1.5rem; }

/* mq de quienes somos para desktop */
@media screen and (min-width: 1024px) {
  .main-principal3 section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .main-principal3 section .img-sn .img-sn1 {
      height: 35vh;
      width: 30vh;
      border: 2px solid black; }
    .main-principal3 section .texto-nosotros {
      margin-top: 4rem; } }

.main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4 {
  text-transform: uppercase; }

/* estilos de contacto */
.main-principal4 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal4 .subtitulo4 {
    padding-bottom: 1rem; }
  .main-principal4 form .fieldset-contacto {
    font-size: 1.3rem; }
    .main-principal4 form .fieldset-contacto legend {
      text-transform: uppercase; }
    .main-principal4 form .fieldset-contacto div label {
      margin-bottom: 1rem; }
    .main-principal4 form .fieldset-contacto div input {
      margin-bottom: 1rem; }
    .main-principal4 form .fieldset-contacto div label {
      margin-bottom: 1rem; }
    .main-principal4 form .fieldset-contacto div input {
      margin-bottom: 1rem; }
    .main-principal4 form .fieldset-contacto div .text1-msj {
      width: 350px; }
    .main-principal4 form .fieldset-contacto div label {
      margin-bottom: 1rem; }
    .main-principal4 form .fieldset-contacto div input {
      margin-bottom: 1rem; }
    .main-principal4 form .fieldset-contacto .botones {
      margin-top: 1rem; }
      .main-principal4 form .fieldset-contacto .botones .boton {
        padding: 5px;
        border-color: black;
        border-radius: 0.375rem;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8); }

/* estilos generales */
body {
  background-color: #555355; }

.logo-home {
  width: 60%; }

.color-menu {
  text-transform: uppercase; }

.color-menu:hover {
  background-color: #555355;
  color: whitesmoke;
  transition: .6s; }

header {
  background-color: #f7be1b;
  font-weight: bold;
  color: black; }

main {
  background-color: #f7be1b;
  margin-top: 1rem; }
  main .btn {
    font-size: 3rem;
    color: green;
    background-color: whitesmoke;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    z-index: 99; }
  main .color-btn {
    color: green; }
  main .color-btn:hover {
    color: whitesmoke; }
  main .btn:hover {
    color: whitesmoke;
    background-color: green;
    box-shadow: 0px 15px 20px black;
    transform: translateY(-7px);
    transition: 0.5s; }

footer {
  background-color: #f7be1b;
  margin-top: 1rem; }
