/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main-principal .subtitulo, .main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4, .main-principal5 .subtitulo5 {
  text-transform: uppercase; }

.main-principal section nav .lista-prod .card-uno, .main-principal section nav .lista-prod .card-dos, .main-principal section nav .lista-prod .card-tres, .main-principal section nav .lista-prod .card-cuatro, .main-principal section nav .lista-prod .card-cinco, .main-principal section nav .lista-prod .card-seis, .main-principal section nav .lista-prod .card-siete {
  border: 2px solid #555355;
  margin: 0.5rem 1rem 0.5rem 1rem; }

/* estilos del home */
.main-principal {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal .subtitulo {
    padding-left: 2rem; }
  .main-principal section nav .lista-prod {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    font-size: 1.3rem; }
    .main-principal section nav .lista-prod li {
      text-transform: uppercase;
      text-decoration: underline; }
    .main-principal section nav .lista-prod p {
      margin-top: 0.5rem; }

.footer {
  padding: 2rem 2rem 2rem; }
  .footer h3 {
    text-align: center; }
  .footer .footer-links {
    text-align: center; }
    .footer .footer-links a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem; }

/* estilos de productos */
.main-principal2 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal2 .img-productos {
    width: 90%;
    padding-top: 1rem; }

.main-principal .subtitulo, .main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4, .main-principal5 .subtitulo5 {
  text-transform: uppercase; }

.main-principal section nav .lista-prod .card-uno, .main-principal section nav .lista-prod .card-dos, .main-principal section nav .lista-prod .card-tres, .main-principal section nav .lista-prod .card-cuatro, .main-principal section nav .lista-prod .card-cinco, .main-principal section nav .lista-prod .card-seis, .main-principal section nav .lista-prod .card-siete {
  border: 2px solid #555355;
  margin: 0.5rem 1rem 0.5rem 1rem; }

/* estilos de sobre nosotros */
.main-principal3 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal3 section {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr); }
    .main-principal3 section .img-sn .img-sn1 {
      height: 30vh;
      width: 30vh;
      border: 2px solid black; }
    .main-principal3 section .texto-nosotros {
      margin-top: 2rem; }

.main-principal .subtitulo, .main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4, .main-principal5 .subtitulo5 {
  text-transform: uppercase; }

.main-principal section nav .lista-prod .card-uno, .main-principal section nav .lista-prod .card-dos, .main-principal section nav .lista-prod .card-tres, .main-principal section nav .lista-prod .card-cuatro, .main-principal section nav .lista-prod .card-cinco, .main-principal section nav .lista-prod .card-seis, .main-principal section nav .lista-prod .card-siete {
  border: 2px solid #555355;
  margin: 0.5rem 1rem 0.5rem 1rem; }

/* estilos de contacto */
.main-principal4 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal4 .subtitulo4 {
    padding-bottom: 1rem; }
  .main-principal4 form .fieldset-contacto {
    font-size: 1.3rem; }
    .main-principal4 form .fieldset-contacto legend {
      text-transform: uppercase; }
    .main-principal4 form .fieldset-contacto .botones {
      padding-top: 1rem; }

.main-principal .subtitulo, .main-principal2 .subtitulo2, .main-principal3 .subtitulo3, .main-principal4 .subtitulo4, .main-principal5 .subtitulo5 {
  text-transform: uppercase; }

.main-principal section nav .lista-prod .card-uno, .main-principal section nav .lista-prod .card-dos, .main-principal section nav .lista-prod .card-tres, .main-principal section nav .lista-prod .card-cuatro, .main-principal section nav .lista-prod .card-cinco, .main-principal section nav .lista-prod .card-seis, .main-principal section nav .lista-prod .card-siete {
  border: 2px solid #555355;
  margin: 0.5rem 1rem 0.5rem 1rem; }

/* estilos de trabaja con nosotros */
.main-principal5 {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; }
  .main-principal5 .subtitulo5 {
    padding-bottom: 1rem; }
  .main-principal5 .form-trabajo {
    font-size: 1.3rem; }
    .main-principal5 .form-trabajo fieldset legend {
      text-transform: uppercase; }

/* estilos generales */
body {
  background-color: #555355; }

.logo-home {
  width: 60%; }

.color-menu:hover {
  border-bottom: 2px solid #555355; }

header {
  background-color: #f7be1b; }

main {
  background-color: #f7be1b;
  margin-top: 1rem; }

footer {
  background-color: #f7be1b;
  margin-top: 1rem; }
