/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//import
@import "componentes/vars";
@import "html/home";
@import "html/productos";
@import "html/quienes-somos";
@import "html/contacto";

/* estilos generales */

body{
    background-color: $color-principal;
}

.logo-home{
    width: 60%;
}

.color-menu{
    text-transform: uppercase;
}

.color-menu:hover{
    background-color: $color-principal;
    color: whitesmoke;
    transition: .6s;
}

header{
    background-color: $color-secundario;
    font-weight: bold;
    color: black;
}

main{
    background-color: $color-secundario;
    margin-top: 1rem;
}

footer{
    background-color: $color-secundario;
    margin-top: 1rem;
}