//import
@import "../componentes/mixin";
@import "../componentes/extend";

/* estilos de contacto */

.main-principal4{
    @include main;
    .subtitulo4{
        @extend %subtitulo;
        padding-bottom: 1rem;
    }
    form{
        .fieldset-contacto{
            font-size: 1.3rem;
            legend{
                text-transform: uppercase;
            }
            .botones{
                padding-top: 1rem;
            }
        }
    }
}