//variables
@import "../componentes/vars";
@import "../componentes/mixin";
@import "../componentes/extend";

/* estilos del home */ 

.main-principal{
    .img-alphalub{
        width: 100%;
        height: 100%;
    }
}

.footer{
    color: black;
    padding: 2rem 2rem 2rem;
    h2{
        text-align: center;
    }
    .footer-links{
        text-align: center;
        .redes{
            font-size: 3rem;
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
        .redes-font{
            font-size: 3rem;
        }
    }
}

/* mq de home para desktop */