//variables
@import "../componentes/vars";
@import "../componentes/mixin";
@import "../componentes/extend";

/* estilos del home */ 

.main-principal{
    @include main;
    .subtitulo{
        @extend %subtitulo;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    section{        
        nav{         
            .lista-prod{  
                @extend %transformacion;
                display: grid;
                grid-template-columns:repeat(1, 1fr) ;             
                list-style: none;
                font-size: 1.3rem;
                li{
                    text-transform: uppercase;
                    text-decoration: underline;   
                }
                p{
                    margin-top: 0.5rem;
                }                
                .card-uno{
                    @extend %card;
                }
                .card-dos{
                    @extend %card;
                }
                .card-tres{
                    @extend %card;
                }
                .card-cuatro{
                    @extend %card;
                }
                .card-cinco{
                    @extend %card;
                }
                .card-seis{
                    @extend %card;
                }
                .card-siete{
                    @extend %card;
                }
            }        
        }
    }
    
}

.footer{
    padding: 2rem 2rem 2rem;
    h2{
        text-align: center;
    }
    .footer-links{
        text-align: center;
        a{
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }
}

/* mq de home para desktop */

@media screen and (min-width:1024px){
    .main-principal{
        section{
            nav{
                .lista-prod{
                    grid-template-columns:repeat(3, 1fr);
                    grid-template-rows:repeat(3, 1fr);
                }
                .card-siete{
                    grid-column:2;
                }
            }
        }
    }
}