//import 
@import "../componentes/mixin";

/* estilos de productos */

.main-principal2{
    @include main;
    .subtitulo2{
        @extend %subtitulo; 
    }
    .img-productos{
        width: 90%;
        margin-top: 1rem;
        border: 0.5rem solid black;
    }    
}
