// import
@import "../componentes/mixin";
@import "../componentes/extend";

/* estilos de sobre nosotros */

.main-principal3{
    @include main;
    .subtitulo3{
        @extend %subtitulo;
    }
    div{
        .texto-nosotros{
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            font-size: 1.5rem;
        }
    }
    .carrusel{
        .carrusel-items{
            display: flex;
            align-items: center;
            overflow-x: scroll;
            overflow-x: hidden;
            overflow-y:hidden;
            background-color: $color-principal;
            padding:20px;
            gap: 1rem;
            .carrusel-item{
                img{
                    object-fit:cover;
                    box-shadow:5px 5px 0px 0px;
                    color:grey;
                }
                .imagenes-carrusel{
                    width:150px;
                    border-radius:20px;
                }
            }
        }
    } 
    
}

/* mq de quienes somos para desktop */
@media screen and (min-width:1024px){
    .main-principal3{
        section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .img-sn{
                .img-sn1{
                    height: 35vh;
                    width: 30vh;
                    border: 2px solid black;
                }
            }
            .texto-nosotros{
                margin-top: 4rem;
            }
        }
    }
}

