// import
@import "../componentes/mixin";
@import "../componentes/extend";

/* estilos de sobre nosotros */

.main-principal3{
    @include main;
    .subtitulo3{
        @extend %subtitulo;
    }
    section{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        .img-sn{
            .img-sn1{
                height: 30vh;
                width: 30vh;
                border: 2px solid black;
            }
        }
        .texto-nosotros{
            margin-top: 2rem;
        }
    }
    
}



