//import 
@import "../componentes/mixin";
@import "../componentes/extend";

/* estilos de trabaja con nosotros */

.main-principal5{
    @include main;
    .subtitulo5{
        @extend %subtitulo;
        padding-bottom: 1rem; 
    }
    .form-trabajo{
        font-size: 1.3rem;
        fieldset{
            legend{
                text-transform: uppercase;
            }
            div{
                label{
                    margin-bottom: 1rem;
                }
            }
            div{
                label{
                    margin-bottom: 1rem;
                }
            }
            .botones{
                margin-top: 1rem;
            }
        }
    }
}